@page
@{
    ViewData["Title"] = "Decking";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<br />

<!-- Page Content -->
<div class="container">
    <h1 class="my-4 text-center text-lg-left">Decking</h1>
    <p>Bembridges have been providing decking to customers in and around the Chesterfield area for many years.</p>

    <p>We manufacture our own produtcs using only quality materials and offer a professional fitting service, we can visit your property to discuss your specific requirements and are happy to take on both small and large decking projects, please visit our <a href="/contact">contact</a> page to discuss your requirements.</p>

    <p>
        Below is a small sample of some the decking projects that we have previously undertaken.
    </p>

    <div class="row text-center text-lg-left">
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="~/images/Products/photo0.png" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/images/Products/photo0_sm.png" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="~/images/Products/photo2.png" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/images/Products/photo2_sm.png" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="~/images/Products/photo16.png" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/images/Products/photo16_sm.png" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="~/images/Products/photo24.png" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/images/Products/photo24_sm.png" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="~/images/Products/photo17.png" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/images/Products/photo17_sm.png" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="~/images/Products/photo32.jpg" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/images/Products/photo32_sm.jpg" alt="">
            </a>
        </div>
    </div>
</div>
<!-- /.container -->
