@page
@{
    ViewData["Title"] = "Fences";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<br />

<!-- Page Content -->
<div class="container">
    <h1 class="my-4 text-center text-lg-left">Fencing and Gates</h1>
    <p>Below is a small sample of fences and gates that we have previously built for our customers. We only use on high quality panels and posts for our fences. 
    Due to the complexity in pricing fencing, we will need to visit your site before we can provide you with an accurate quote. 
    Please contact us to discuss your requirements and arrange a free visit from one of our fitters.</p>

    <div class="row text-center text-lg-left">
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="~/images/Products/photo6.png" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/images/Products/photo6_sm.png" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="~/images/Products/photo29.jpg" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/images/Products/photo29_sm.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="~/images/Products/photo30.jpg" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/images/Products/photo30_sm.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="~/images/Products/photo7.png" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/images/Products/photo7_sm.png" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="~/images/Products/photo11.png" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/images/Products/photo11_sm.png" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="~/images/Products/photo9.png" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/images/Products/photo9_sm.png" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="~/images/Products/photo22.png" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/images/Products/photo22_sm.png" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="~/images/Products/photo25.png" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/images/Products/photo25_sm.png" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="~/images/Products/photo31.png" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/images/Products/photo31_sm.png" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="~/images/Products/photo35.jpg" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/images/Products/photo35_sm.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="~/images/Products/photo36.jpg" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/images/Products/photo36_sm.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="~/images/Products/photo37.jpg" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/images/Products/photo37_sm.jpg" alt="">
            </a>
        </div>
    </div>
</div>
<!-- /.container -->
