@page
@{
    ViewData["Title"] = "Sheds";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<br />

<!-- Page Content -->
<div class="container">
    <h1 class="my-4 text-center text-lg-left">Sheds and Greenhouses</h1>
    <p>Bembridges have been building and supplying sheds to the domestic and commercial customer in and around the Chesterfield area for over 60 years.</p>
    <p>
        Below is a small sample of sheds that we have previously built for our customers. All our sheds are of the highest quality and are built to your exact specifiation.
        All quoted prices include delivery and construction.  Call <b>(01246 273969)</b> us now to to discuss your requirements.
    </p>

    <div class="row text-center text-lg-left">
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="~/images/Products/photo21.png" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/images/Products/photo21_sm.png" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="~/images/Products/photo23.png" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/images/Products/photo23_sm.png" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="~/images/Products/photo28.png" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/images/Products/photo28_sm.png" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="~/images/Products/photo27.png" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/images/Products/photo27_sm.png" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="~/images/Products/photo13.png" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/images/Products/photo13_sm.png" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="~/images/Products/photo3.png" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/images/Products/photo3_sm.png" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="~/images/Products/photo33.jpg" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/images/Products/photo33_sm.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="~/images/Products/photo34.jpg" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/images/Products/photo34_sm.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="~/images/Products/photo39.jpg" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/images/Products/photo39_sm.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="~/images/Products/gh_1.jpg" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/images/Products/gh_1_sm.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="~/images/Products/gh_2.jpg" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/images/Products/gh_2_sm.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="~/images/Products/gh_3.jpg" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/images/Products/gh_3_sm.jpg" alt="">
            </a>
        </div>
    </div>
</div>
<!-- /.container -->