@page
@{
    ViewData["Title"] = "Summerhouses";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<br />

<!-- Page Content -->
<div class="container">
    <h1 class="my-4 text-center text-lg-left">Summerhouses</h1>
    <p>
        Below is a small sample of summerhouses that we have previously built for our customers. 
        All our products are of the highest quality and are built to your exact specifiation. 
        All quoted prices include delivery and construction. Please feel free to contact us us and discuss your requirements.
    </p>

    <div class="row text-center text-lg-left">
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="~/images/Products/photo18.jpg" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/images/Products/photo18_sm.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="~/images/Products/photo19.jpg" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/images/Products/photo19_sm.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="~/images/Products/photo4.png" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/images/Products/photo4_sm.png" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="~/images/Products/photo14.png" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/images/Products/photo14_sm.png" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="~/images/Products/photo15.png" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/images/Products/photo15_sm.png" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="~/images/Products/photo12.png" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/images/Products/photo12_sm.png" alt="">
            </a>
        </div>

    </div>
</div>
<!-- /.container -->
