@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Header with Background Image -->
<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="display-3 text-center text-white mt-4"></h1>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h2 class="mt-4">What we do</h2>

            <p>
                We are a small family-run business, trading in Chesterfield for more than 60 years. We offer a personal friendly service from our experienced staff.
                All our buildings are manufactured on site and we maintain a high quality standard at competitive prices.
            </p>

            <p>
                At Bembridges we specialise in custom made Sheds, Garages, Fences, Gates, and Summerhouses. All our products are hand-built to order at our Woodyard using only quality materials.
                We have a team of highly skilled and experienced fitters who will setup your structure.
            </p>

            <p>Please feel free to come down and visit our showroom to view a selection of the products that we have to offer. Alternatively a sample of our product range can be found below:</p>

            <!--
            <p>
                <a class="btn btn-primary btn-lg" href="#">Call to Action &raquo;</a>
            </p> -->

        </div>
        <div class="col-sm-4">
            <h2 class="mt-4">Contact us</h2>
            <address>
                <br>53 Lordsmill Street
                <br>Chesterfield
                <br>S41 7RS
            </address>
            <address>
                Tel:
                01246 273969
                <br>
                Email:
                <a href="mailto:#">enquiries@bembridgessheds.co.uk</a>
            </address>

        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-sm-4 my-4">
            <div class="card">
                <img class="card-img-top" src="~/images/shed.png" alt="">
                <div class="card-body">
                    <h4 class="card-title">Sheds</h4>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 my-4">
            <div class="card">
                <img class="card-img-top" src="~/images/fence.png" alt="">
                <div class="card-body">
                    <h4 class="card-title">Fences</h4>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 my-4">
            <div class="card">
                <img class="card-img-top" src="~/images/summer.png" alt="">
                <div class="card-body">
                    <h4 class="card-title">Summerhouses</h4>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-sm-4 my-4">
            <div class="card">
                <img class="card-img-top" src="~/images/greenhouse.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Greenhouses</h4>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 my-4">
            <div class="card">
                <img class="card-img-top" src="~/images/gates.png" alt="">
                <div class="card-body">
                    <h4 class="card-title">Fences</h4>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 my-4">
            <div class="card">
                <img class="card-img-top" src="~/images/decking.png" alt="">
                <div class="card-body">
                    <h4 class="card-title">Decking</h4>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-sm-12" style="text-align: center;">

            <h2 class="mt-8">Visit our showroom</h2>

            Opening Times:<br />
            Mon-Fri - 8:30am - 5:00pm<br />
            Sat - 8:30am - 2:30pm<br />
            Bank Holidays - 8:30am - 4:00pm<br /><br />

            <iframe style="border:0px;width: 100%;" height="400" src="http://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=s417rs&amp;aq=&amp;sll=53.800651,-4.064941&amp;sspn=8.623693,21.159668&amp;ie=UTF8&amp;hq=&amp;hnear=S41+7RS,+United+Kingdom&amp;t=m&amp;ll=53.232615,-1.421206&amp;spn=0.006037,0.016801&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe>

        </div>
    </div>

    <br />

</div>
