@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<br />

<!-- Page Content -->
<div class="container">

    <h1 class="my-4 text-center text-lg-left">Privacy Policy</h1>
    <br />
    <h4>Personal information</h4>
    <p>
        If you contact us using the contact form on this website we will collect the email address you nominate, and any other identifying information you provide, such as a name or phone number.
        Please do not give us other personal or sensitive information.
    </p>
    <br />
    <h4>Website analytics / Cookies</h4>
    <p>
        To improve your experience on our site, we may use 'cookies'. Cookies are an industry standard and most major web sites use them. A cookie is a small text file that our site may place on your computer as a tool to remember your preferences. You may refuse the use of cookies by selecting the appropriate settings on your browser, however please note that if you do this you may not be able to use the full functionality of this website.
    </p>
    <p>
        Our website uses Google Analytics, a service which transmits website traffic data to Google servers in the United States. Google Analytics does not identify individual users or associate your IP address with any other data held by Google. We use reports provided by Google Analytics to help us understand website traffic and webpage usage.
    </p> <p>
        By using this website, you consent to the processing of data about you by Google in the manner described in <a target="_blank" href="https://policies.google.com/privacy">Google's Privacy Policy</a> and for the purposes set out above. You can opt out of Google Analytics if you disable or refuse the cookie, disable JavaScript, or <a target="_blank" href="https://tools.google.com/dlpage/gaoptout">use the opt-out service provided by Google</a>.
    </p>
    <br />
</div>

<br />