<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Providing quality custom built sheds, garages, fences, and summer houses in the Chesterfield area for over 65 years." />
    <meta name="author" content="">

    <title>Sheds Chesterfield | Summer Houses Chesterfield | Bembridges</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/business-frontpage.css" asp-append-version="true" />

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">

            <a class="navbar-brand" style="color: yellow" href="/">
                Welcome to Bembridges
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li id="home_tab" class="nav-item">
                        <a class="nav-link" href="/">
                            Home
                        </a>
                    </li>
                    <li class="nav-item"  id="sheds_tab">
                        <a class="nav-link" href="/products/sheds">
                            Sheds and Greenhouses
                        </a>
                    </li>
                    <li class="nav-item" id="summer_tab">
                        <a class="nav-link" href="/products/summerhouses">
                            Summerhouses
                        </a>
                    </li>
                    <li class="nav-item" id="decking_tab">
                        <a class="nav-link" href="/products/decking">
                            Decking
                        </a>
                    </li>
                    <li class="nav-item" id="fences_tab">
                        <a class="nav-link" href="/products/fences">
                            Fencing and Gates
                        </a>
                    </li>
                    <li class="nav-item" id="contact_tab">
                        <a class="nav-link" href="/contact">
                            Contact Us
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    <div id="cookieConsent">
        <div id="closeCookieConsent">x</div>
        This website is using cookies. <a href="/privacy" target="_blank">More info</a>. <a class="cookieConsentOK">That's Fine</a>
    </div>

    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">
                Copyright &copy; Bembridges 2018
                <br /><a href="/privacy">Privacy Policy</a>
            </p>

        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/js/site.js"></script>

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-32522532-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        $(document).ready(function () {

            var path = location.href;

            if (path.includes("/products/sheds")) { $("#sheds_tab").addClass("active"); }
            if (path.includes("/products/summerhouses")) { $("#summer_tab").addClass("active"); }
            if (path.includes("/products/fences")) { $("#fences_tab").addClass("active"); }
            if (path.includes("/products/decking")) { $("#decking_tab").addClass("active"); }
            if (path.includes("/contact")) { $("#contact_tab").addClass("active"); }

            if (!path.includes("/contact") && !path.includes("/product")) { $("#home_tab").addClass("active"); }

            var consentCookie = getCookie('consentCookie');
            if (consentCookie !== "set") {
                setTimeout(function () {
                    $("#cookieConsent").fadeIn(200);
                }, 4000);
                $("#closeCookieConsent, .cookieConsentOK").click(function () {
                    setCookie('consentCookie', 'set', 100);
                    $("#cookieConsent").fadeOut(200);
                });
            }
        });

    </script>

    @RenderSection("Scripts", required: false)
</body>

</html>
